server nomad
	ip=127.0.0.1   # This is for iladmin and other local clients
	syslog_facility=local6
	syslog_name=iplogin2
	pidfile=/var/run/iplogin.pid
	listen_address=0.0.0.0
	listen_port=iplogin2
	accept_interval=30
	accept_timeout=20
	logout_timeout=25
	min_pinginterval=2000
	missdiff=2         # Number of seconds before a reply is considered missed
#	ping_source=130.238.131.234
	accounting_id=iplogin
	accounting_lib=/opt/iplogin2/lib/acclib_test.so
	stat_timelimit=60
	stat_countlimit=3
	stat_blockchain=block/b>DROP
	stat_blocktime=900
	stat_blockgc=3600
	counterchain=users
	counterinterval=120
	rxidle=900
	txidle=900
	idlehosts=1.1.1.1/32,2.2.2.2/255.255.255.255,3.3.3.3
	savetime=300
	key=The key to it all is fnurgel
#	flush_on_start=foo,bar,mangle:users
#	tracefile=./iplogin2.trace

client localhost
	ip=127.0.0.1
	key=The key is to make it n0npredictable?
	perms=any
	permitted_chains=users,nat:users
	syslog_facility=local6
	syslog_name=iladmin
	servername=nomad
	server_port=iplogin2

client watcher
	ip=192.168.10.8
	key=vdsklvsjdvnsldkvnlvfjsklvjsdvfdjsvlewrehqfupq
	perms=stat,dump
	permitted_chains=
	syslog_facility=local6
	syslog_name=ilwatch
	servername=nomad
	server_port=iplogin2
