server nomad
	syslog_facility=local6
	syslog_name=iplogin2
	pidfile=/var/run/iplogin.pid
	ip=127.0.0.1   # This is for iladmin and other local clients
	listen_address=0.0.0.0
	listen_port=iplogin2
	accept_interval=30
	accept_timeout=20
	logout_imeout=25
	pinginterval=5000
	min_pinginterval=2000
	missdiff=2
	maxmissed=5
	key=The key to it all is fnurgel
	accounting_lib=/opt/iplogin2/lib/acclib_test.so
	accounting_id=iplogin
	stat_timelimit=60
	stat_countlimit=3
	stat_blockchain=block/b>DROP
	stat_blocktime=900
	stat_blockgc=3600
#	flush_on_start=foo,bar,mangle:users
#	tracefile=./iplogin2.trace
#	ping_source=130.238.131.234

client localhost
	ip=127.0.0.1
	key=The key is to make it n0npredictable?
	perms=any
	syslog_facility=local6
	syslog_name=iladmin
	servername=nomad
	server_port=iplogin2

client watcher
	ip=192.168.10.8
	key=vdsklvsjdvnsldkvnlvfjsklvjsdvfdjsvlewrehqfupq
	perms=stat,dump
	syslog_facility=local6
	syslog_name=ilwatch
	servername=nomad
	server_port=iplogin2
